<h1><%= @person.to_s %></h1>

<p>Birthday: <%= @person.dob.strftime("%B %d, %Y") %></p>
<% if @person.deceased %>
<p>Died: <%= @person.dod %></p>
<% end %>
<p>Place Of Birth: <%= @person.place_of_birth %></p>
<p>Current Location: <%= @person.current_location %></p>
<p>Gender: <%= @person.gender %></p>

 <% if !@person.partners.empty? %>
   <h2><%= @person.first_name %>'s Partners: </h2>
     <ul>
     <% @person.partners.each do |partner| %>
      <li>
       <%= link_to partner, person_path(partner) %> -
      </li>
     <% end %>
     </ul>
 <% end %>


<% if !@person.children.empty? %>
  <h2><%= @person.first_name %>'s Children: </h2>
    <ul>
    <% @person.children.each do |child| %>
      <li><%= link_to child.to_s, person_path(child) %></li>
    <% end %>
    </ul>
<% end %>

<% if !@person.parents.empty? %>
  <h2><%= @person.first_name %>'s Parents: </h2>
    <ul>
    <% @person.parents.each do |parent| %>
      <li><%= link_to parent.to_s, person_path(parent) %></li>
    <% end %>
    </ul>
<% end %>

<% if !@person.siblings.empty? %>
  <h2><%= @person.first_name %>'s Siblings: </h2>
    <ul>
    <% @person.siblings.each do |sibling| %>
      <li><%= link_to sibling.to_s, person_path(sibling) %></li>
    <% end %>
    </ul>
<% end %>

<%= form_tag edit_person_path(@person), method: "get" do %>
<%= submit_tag "Edit This Person Record" %>
<% end %>
