<h1><%= @person.to_s %></h1>

<p>Birthday: <%= @person.dob %></p>
<%= if @person.deceased %>
<p>Died: <%= @person.dod %></p>
<% end %>
<p>Place Of Birth: <%= @person.place_of_birth %></p>
<p>Current Location: <%= @person.current_location %></p>
<p>Gender: <%= @person.gender %></p>
