<h1><%= @person.to_s %></h1>

<p>Birthday: <%= @person.dob.strftime("%B %d, %Y") %></p>
<% if @person.deceased %>
<p>Died: <%= @person.dod %></p>
<% end %>
<p>Place Of Birth: <%= @person.place_of_birth %></p>
<p>Current Location: <%= @person.current_location %></p>
<p>Gender: <%= @person.gender.capitalize %></p>

<h2>Ethnicities:</h2>

<p>Ethnicities Calculated From Relatives</p>
<ul>
<% @person.my_ethnicities.each do |key, value| %>
  <li><%= key + " - " + value.to_s + "% "%></li>
<% end %>
</ul>

<p>Current Ethnicity Records<p>
<ul>
<% @person.ethnicities.each do |ethnicity| %>
  <li><%= ethnicity.name + " - " + ethnicity.percentage.to_s + "% "%>
  <%= link_to "Edit", edit_ethnicity_path(ethnicity)%></li>
<% end %>
</ul>
<% if @person.ethnicities.empty? %>
<p> This person doesn't have any recorded ethnicities. Would you like to add one?</p>
<% end %>

<%= form_tag new_person_ethnicity_path(@person), method: "get" do %>
<%= submit_tag "Add An Ethnicity" %>
<% end %><br>


 <% if !@person.partners.empty? %>
   <h2><%= @person.first_name %>'s Partners: </h2>
     <ul>
     <% @person.partnerships.each do |partnership| %>
      <li>
       <%= link_to partnership.partner, person_path(partnership.partner) %> - <%= partnership.status.capitalize %>
      </li>
     <% end %>
     </ul>
 <% end %>


<% if !@person.children.empty? %>
  <h2><%= @person.first_name %>'s Children: </h2>
    <ul>
    <% @person.children.each do |child| %>
      <li><%= link_to child.to_s, person_path(child) %></li>
    <% end %>
    </ul>
<% end %>

<% if !@person.parents.empty? %>
  <h2><%= @person.first_name %>'s Parents: </h2>
    <ul>
    <% @person.parents.each do |parent| %>
      <li><%= link_to parent.to_s, person_path(parent) %></li>
    <% end %>
    </ul>
<% end %>

<% if !@person.siblings.empty? %>
  <h2><%= @person.first_name %>'s Siblings: </h2>
    <ul>
    <% @person.siblings.each do |sibling| %>
      <li><%= link_to sibling.to_s, person_path(sibling) %></li>
    <% end %>
    </ul>
<% end %>

<h3>Want to edit this person?</h3>

<%= form_tag edit_person_path(@person), method: "get" do %>
<%= submit_tag "Edit Personal Information" %>
<% end %>

<h3>Edit or add relationships:</h3>
<p>Note: You can only add a partnership with an existing person record.</p>
<p>If you'd like to create a new person, please go back to the <%= link_to "family page", family_people_path(@family)%>.</p>

<%= form_tag new_person_relationship_path(@person), method: "get" do %>
<%= submit_tag "Create New Parent Or Child Relationship" %>
<% end %>

<%= form_tag new_person_partnership_path(@person), method: "get" do %>
<%= submit_tag "Create New Partnership" %>
<% end %>
