<h1><%= @family.name %></h1>
<% if @family.family_portrait%>
  <%= image_tag @family.family_portrait, :size => "725x450"%><br>
<% end %>

<h2>Number Of Family Members: <%= @family.num_of_people %></h2>

<h2>Ethnicities:</h2>
<ul>
<% @family.ethnicities.each do |key, value| %>
  <li><%= key + " - " + value.to_s + "% "%></li>
<% end %>
</ul>


<br>
<%= link_to '<button type="button">View Family Members</button>'.html_safe, user_family_people_path(@user, @family) %><br>
<br>
<%= link_to '<button type="button">View Family Photos</button>'.html_safe, user_family_photos_path(@user, @family) %><br>
