<h1>Add A Partnership for <%= @person.to_s %></h1>

<%= form_for @partnership, url: person_partnerships_path(@person) do |f| %>

  <%= f.label :partner_id %><br>
  <%= f.collection_select :partner_id, @person.family.people, :id, :to_s %><br>
  <br>
  <%= f.label :status, "Status (e.g. divorced, married)" %>
  <%= f.text_field :status %><br>
  <br>
  <%= f.submit %>
<% end %>
