<h1>New Photo</h1>

<%= form_for @photo, url: family_photos_path do |f| %>
  <%= f.label "Name: " %>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label "Photo URL: " %>
  <%= f.text_field :img_url %><br>
  <br>
  <%= f.collection_select(:family_id, Family.all, :id, :name) %><br>
  <br>
  <%= f.submit "Create Photo" %>
<% end %>
