<h1>New Photo</h1>


<%= form_for @photo, url: user_family_photos_path(@user, @user.family) do |f| %>

  <%= f.label "Name: " %>
  <%= f.text_field :name %><br>
  <br>
  <%= f.label "Photo Type: " %>
  <%= f.text_field :photo_type %><br>
  <br>
  <%= f.label "Photo URL: " %>
  <%= f.text_field :img_url %><br>
  <br>


  <%= f.label "Family Name: " %><br>
  <%= f.collection_select(:family_id, [@user.family], :id, :name) %><br>
  <br>
  <%= f.label "Who's photo is this?" %><br>
  <%= f.collection_select(:person_id, Person.all, :id, :full_name) %><br>
  <br>
  <%= f.submit "Create Photo" %>
<% end %>
